*{
    font-family: "Roboto";
}

* h1{
    font-family: "Shrikhand";
}

body{
    margin: auto;
    max-width: 400px;
}

header{
    padding: 5px;
}

header i{
    position: absolute;
    left: 25px;
    top: 25px;
    display: flex;
    font-size: 20px;
    color: black;
}

.headerlogo{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container{
    box-sizing: border-box;
    border-radius: 40px 40px 0px 0px;
    background: #F2F2F2;
    position: relative;
    bottom: 50px;
}

.titrerestaurant{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.titrerestaurant h1{
    display: flex;
    margin-top: 20px;
    font-family: "Shrikhand";
    font-size: 28px;
}

.titrerestaurant i{
    display: flex;
    font-size: 25px;
}

.titreentree{
    margin: 10px 10px 30px 20px;
    border-bottom: 3px solid #99E2D0;
    width: 17%;
}

.titreentree h2{
    margin: 0;
    font-size: 18px;
}

.boxentree{
    display: flex;
    flex-direction: column;
    margin: 30px 10px 30px 10px;
}

.entree{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    position: relative;
}

.entree h3{
    margin: 10px;
}

.entree p{
    margin: 5px 5px 10px 10px;
}

.entree span{
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.titreplat{
    margin: 10px 10px 30px 20px;
    border-bottom: 3px solid #99E2D0;
    width: 17%;
}

.titreplat h2{
    margin: 0;
    font-size: 18px;
}

.boxplat{
    display: flex;
    flex-direction: column;
    margin: 30px 10px 30px 10px;
}

.plat{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    background: #FFFFFF;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    position: relative;
}

.plat h3{
    margin: 10px;
}

.plat p{
    margin: 5px 5px 10px 10px;
}

.plat span{
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.titredessert{
    margin: 10px 10px 30px 20px;
    border-bottom: 3px solid #99E2D0;
    width: 17%;
}

.titredessert h2{
    margin: 0;
    font-size: 18px;
}

.boxdessert{
    display: flex;
    flex-direction: column;
    margin: 30px 10px 30px 10px;
}

.dessert{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    background: #FFFFFF;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    position: relative;
}

.dessert h3{
    margin: 10px;
}

.dessert p{
    margin: 5px 5px 10px 10px;
}

.dessert span{
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.btn{
    display: flex;
    justify-content: center;
}

button{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background: linear-gradient(#FF79DA, #9356DC);
    align-items: center;
    box-shadow: 0px 5px 5px 0px grey;
    border: none;
    color: white;
    font-size: 16px;
    padding: 0;
}

footer{
    background: #353535;
    position: relative;
    top: 50px;
}

.footerlogo{
    margin-bottom: 20px;
}

footer h2{
    font-family: "Shrikhand";
    color: white;
    margin: 0px 0px 10px 20px;
}

.list{
    margin-left: 10px;
}

.list i{
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 15px;
}

footer a{
    color: white;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

h5{
    margin: 5px 0px 5px 0px;
    font-size: 16px;  

}

a{
    text-decoration: none;
}

/* Responsive Desktop */

@media only screen and (min-width: 1024px)
{

    body{
        margin: auto;
        max-width: initial;
    }

    header i{
        left: 70px;
        font-size: 30px;
    }

    .headerlogo img{
        width: 300px;
    }

    .background{
        display: flex;
        justify-content: center;
    }

    .background img{
        width: 650px;
        height: 300px;
    }

    .container{
        margin-top: 30px;
        position: initial;
        border-radius: initial;
    }

    .coeur{
        width: 30px;
        height: 25px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 0 solid transparent;
        background:linear-gradient(#FF79DC, #9356DC);
    }

    .coeur::before{
        opacity: 0;
        transition: 0.5s;
        content: "";
    }

    .coeur:hover::before{
        opacity: 1;
    }

    .coeur:hover .far.fa-heart{
        opacity: 0;
    }

    .far.fa-heart, .fas.fa-heart{
        position: absolute;
        transition-duration: 0.25s;
        background-color: #F2F2F2;
        display: flex;
        justify-content: center;
        align-items: center;
        mix-blend-mode: lighten;
        width: 100%;
        height: 100%;
    }
/* Animation coeur */

    @keyframes opacity{
        0%{
            opacity: 0;
        }

        100%{
            opacity: 1;
        }
    }

    .titrerestaurant h1{
        justify-content: initial;
        align-items: initial;
        margin-left: 0;
        font-size: 40px;
    }

    .boxentree{
        box-sizing: border-box;
        border-radius: 30px 30px 30px 30px;
        border: 2px solid #99E2D0;
    }

    .titreentree{
        margin: 30px;
        width: initial;
        border-bottom: none;
    }

    .titreentree h2{
        display: flex;
        justify-content: center;
        margin: 0;
        font-size: 35px;
        font-family: "Shrikhand";
        color: #99E2D0;
    }

    .choixentree{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 20px;
        -webkit-animation: scale-y 0.5s 1s linear both;
                animation: scale-y 0.5s 1s linear both;
        transform-origin: top;
        overflow: hidden;
    }

/* Animation defilement */

    @-webkit-keyframes scale-y {
        0%{
            transform: scaleY(0);
        }

        100%{
            transform: scaleY(1);
        }
    }

    @keyframes scale-y {
        0%{
            transform: scaleY(0);
        }

        100%{
            transform: scaleY(1);
        }
    }

    .entree{
        width: 30%;
        height: 82%;
        overflow: hidden;
    }

    .entree:hover{
        cursor: pointer;

    }

    .entree h3, p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 0;
    }

    .entree span{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin: -35px 20px 20px 10px;
        position: initial;
    }

    @-webkit-keyframes translate-x{
       0%{
           transform: translateX(0);
        }

       100%{
           transform: translateX(1);
        }
    }

    @keyframes translate-x{
       0%{
           transform: translateX(0);
        }

       100%{
           transform: translateX(1);
        }
    }

    .checkentree{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 72px;
        background: #99E2D0;
        cursor: pointer;
        border-radius: 0px 20px 20px 0px;
        margin: 0px 0px 0px -95px;
        transform-origin: left;
        transform: translate(0);
        transition: 0.5s;
    }

    .checkentree:hover{
        cursor: pointer;
        -webkit-animation: translate-x 0.5s 0s linear both;
                animation: translate-x 0.5s 0s linear both;
    }

    .entree:hover .checkentree{
        margin-right: 0px;
    }

/* Animation menu */

    @-webkit-keyframes translate-x{
        0%{
            transform: translateX(0);
        }
 
        100%{
            transform: translateX(1);
        }
    }
 
     @keyframes translate-x{
        0%{
            transform: translateX(0);
        }
 
        100%{
            transform: translateX(1);
        }
    }

    .fa-check-circle{
        color: white;
        font-size: 25px;
    }

    .boxplat{
        box-sizing: border-box;
        border-radius: 30px 30px 30px 30px;
        border: 2px solid #99E2D0;
    }

    .titreplat{
        margin: 30px;
        width: initial;
        border-bottom: none;
    }

    .titreplat h2{
        display: flex;
        justify-content: center;
        margin: 0;
        font-size: 35px;
        font-family: "Shrikhand";
        color: #99E2D0;
    }

    .choixplat{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 20px;
        -webkit-animation: scale-y 0.5s 1.5s linear both;
                animation: scale-y 0.5s 1.5s linear both;
        transform-origin: top;
        overflow: hidden;
    }

/* Animation defilement */

    @-webkit-keyframes scale-y {
        0%{
            transform: scaleY(0);
        }

        100%{
            transform: scaleY(1);
        }
    }

    @keyframes scale-y {
        0%{
            transform: scaleY(0);
        }

        100%{
            transform: scaleY(1);
        }
    }

    .plat{
        width: 30%;
        height: 82%;
        overflow: hidden;
    }

    .plat:hover{
        cursor: pointer;
    }

    .plat h3, p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 0;
    }

    .plat span{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin: -35px 20px 20px 10px;
        position: initial;
    }

    @-webkit-keyframes translate-x{
        0%{
            transform: translateX(0);
        }

        100%{
            transform: translateX(1);
        }
    }

    @keyframes translate-x{
        0%{
            transform: translateX(0);
        }

        100%{
            transform: translateX(1);
        }
    }

    .checkplat{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 72px;
        background: #99E2D0;
        cursor: pointer;
        border-radius: 0px 20px 20px 0px;
        margin: 0px 0px 0px -95px;
        transform-origin: left;
        transform: translate(0);
        transition: 0.5s;
    }

    .checkplat:hover{
        cursor: pointer;
        -webkit-animation: translate-x 0.5s 0s linear both;
                animation: translate-x 0.5s 0s linear both;
    }

    .plat:hover .checkplat{
        margin-right: 0px;
    }

/* Animation menu */

    @-webkit-keyframes translate-x{
        0%{
            transform: translateX(0);
        }

        100%{
            transform: translateX(1);
        }
    }

    @keyframes translate-x{
        0%{
            transform: translateX(0);
        }

        100%{
            transform: translateX(1);
        }
    }

    .boxdessert{
        box-sizing: border-box;
        border-radius: 30px 30px 30px 30px;
        border: 2px solid #99E2D0;
    }

    .titredessert{
        margin: 30px;
        width: initial;
        border-bottom: none;
    }

    .titredessert h2{
        display: flex;
        justify-content: center;
        margin: 0;
        font-size: 35px;
        font-family: "Shrikhand";
        color: #99E2D0;
    }

    .choixdessert{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 20px;
        -webkit-animation: scale-y 0.5s 2s linear both;
                animation: scale-y 0.5s 2s linear both;
        transform-origin: top;
        overflow: hidden;
    }

/* Animation defilement */

    @-webkit-keyframes scale-y {
        0%{
            transform: scaleY(0);
        }

        100%{
            transform: scaleY(1);
        }
    }

    @keyframes scale-y {
        0%{
            transform: scaleY(0);
        }

        100%{
            transform: scaleY(1);
        }
    }

    .dessert{
        width: 30%;
        height: 82%;
        overflow: hidden;
    }

    .dessert:hover{
        cursor: pointer;
    }

    .dessert h3, p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 0;
    }

    .dessert span{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin: -35px 20px 20px 10px;
        position: initial;
    }

    @-webkit-keyframes translate-x{
        0%{
            transform: translateX(0);
        }

        100%{
            transform: translateX(1);
        }
    }

    @keyframes translate-x{
        0%{
            transform: translateX(0);
        }

        100%{
            transform: translateX(1);
        }
    }

    .checkdessert{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 72px;
        background: #99E2D0;
        cursor: pointer;
        border-radius: 0px 20px 20px 0px;
        margin: 0px 0px 0px -95px;
        transform-origin: left;
        transform: translate(0);
        transition: 0.5s;
    }

    .checkdessert{
        cursor: pointer;
        -webkit-animation: translate-x 0.5s 0s linear both;
                animation: translate-x 0.5s 0s linear both;
    }

    .dessert:hover .checkdessert{
        margin-right: 0px;
    }

/* Animation menu */

    @-webkit-keyframes translate-x{
        0%{
            transform: translateX(0);
        }

        100%{
            transform: translateX(1);
        }
    }

    @keyframes translate-x{
        0%{
            transform: translateX(0);
        }

        100%{
            transform: translateX(1);
        }
    }

    .btn button{
        margin: 40px;
    }

    .footerlogo h2{
        font-size: 40px;
    }

}

/* Responsive Tablette */

@media only screen and (min-width: 768px) and (max-width: 1024px)
{
    body{
        margin: 0;
        max-width: 1024px;
    }

    header a{
        margin: 10px;
    }

    header i{
        font-size: 30px;
        margin-left: 10px;
        margin-top: 15px;
    }

    .headerlogo img{
        width: 40%;
    }

    .container{
        bottom: 40px;
    }

    .titrerestaurant h1{
        font-size: 35px;
        margin: 25px;
    }

    .titreentree{
        border-bottom: initial;
        width: initial;
    }

    .titreentree h2{
        font-family: "Shrikhand";
        font-size: 25px;
        color: #99E2D0;
    }

    .choixentree{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .entree{
        width: 70%;
    }

    .titreplat{
        border-bottom: initial;
        width: initial;
    }

    .titreplat h2{
        font-family: "Shrikhand";
        font-size: 25px;
        color: #99E2D0;
    }

    .choixplat{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .plat{
        width: 70%;
    }

    .titredessert{
        border-bottom: initial;
        width: initial;
    }

    .titredessert h2{
        font-family: "Shrikhand";
        font-size: 25px;
        color: #99E2D0;
    }

    .choixdessert{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dessert{
        width: 70%;
    }

    .footerlogo h2{
        font-size: 30px;
    }
}