*{
    font-family: "Roboto";
}

* h1{
    font-family: "Shrikhand";
}

body{
    margin: auto;
    max-width: 400px;
}

header{
    padding: 5px;
}

header i{
    position: absolute;
    left: 25px;
    top: 25px;
    display: flex;
    font-size: 20px;
    color: black;
}

.headerlogo{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.background img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.container{
    box-sizing: border-box;
    border-radius: 40px 40px 0px 0px;
    background: #F2F2F2;
    position: relative;
    bottom: 50px;
}

.titrerestaurant{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.titrerestaurant h1{
    display: flex;
    margin-top: 20px;
    font-family: "Shrikhand";
    font-size: 28px;
}

.hearts{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 25px;
    position: relative;
    left: 2px;
    bottom: 2px;
}

.fa-heart{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 25px;
    font-size: 20px;
}

.far.fa-heart{
    color: black;
}

.fas.fa-heart{
    opacity: 0;
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fas.fa-heart:hover{
    opacity: 1;
    transition: 0.25s;
    font-size: 27px;
}

@-webkit-keyframes opacity{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes opacity{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.titre{
    margin: 10px 10px 30px 20px;
    border-bottom: 3px solid #99E2D0;
    width: 17%;
}

.titre h2{
    margin: 0;
    font-size: 18px;
}

.box{
    display: flex;
    flex-direction: column;
    margin: 30px 10px 30px 10px;
}

.one{
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
        -webkit-animation: scale-y 0.5s 1s linear both;
                animation: scale-y 0.5s 1s linear both;
            transform-origin: top;
            overflow: hidden;
}

.two{
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
    -webkit-animation: scale-y 0.5s 1.5s linear both;
            animation: scale-y 0.5s 1.5s linear both;
            transform-origin: top;
            overflow: hidden;
}

.three{
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
    -webkit-animation: scale-y 0.5s 2s linear both;
            animation: scale-y 0.5s 2s linear both;
            transform-origin: top;
            overflow: hidden;
}

.four{
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
    -webkit-animation: scale-y 0.5s 2.5s linear both;
            animation: scale-y 0.5s 2.5s linear both;
            transform-origin: top;
            overflow: hidden;
}

@-webkit-keyframes scale-y {
    0%{
        transform: scaleY(0);
    }

    100%{
        transform: scaleY(1);
    }
}

@keyframes scale-y {
    0%{
        transform: scaleY(0);
    }

    100%{
        transform: scaleY(1);
    }
}

.repas{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
    box-sizing: border-box;
    box-shadow: 0px 5px 5px grey;
    background: #FFFFFF;
    border-radius: 20px;
    height: 70px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.repas h3, .repas p{
    margin: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.repas span{
    position: absolute;
    right: 10px;
    bottom: 12px;
    transform: translate(0);
    transition: 0.5s;
    transform-origin: left;
    font-weight: bold;
}

.repas:hover .check{
    margin-right: 0px;
}

.repas:hover h3{
    width: 60%;
}

.repas:hover p{
    width: 65%;
}

.repas:hover span{
    margin-right: 70px;
    -webkit-animation: translate-x 0.5s 0s linear both;
            animation: translate-x 0.5s 0s linear both;
}

.check{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 70px;
    background: #99E2D0;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 0px 20px 20px 0px;
    margin: -62px -60px 0px auto;
    transform-origin: left;
    transform: translate(0);
    transition: 0.5s;
}

.fa-check-circle{
    color: white;
    font-size: 25px;
    transform: rotate(0);
}

.repas:hover .fa-check-circle{
    transform: rotate(360deg);
    transition: 0.5s;
}

@-webkit-keyframes rotate {
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(360deg)
    }
}

.check:hover{
    cursor: pointer;
    -webkit-animation: translate-x 0.5s 0s linear both;
            animation: translate-x 0.5s 0s linear both;
}

@-webkit-keyframes translate-x{
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(1%);
    }
}

 @keyframes translate-x{
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(1%);
    }
}

.btn{
    display: flex;
    justify-content: center;
}

.btn p{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background: linear-gradient(#FF79DA, #9356DC);
    align-items: center;
    box-shadow: 0px 5px 5px 0px grey;
    border: none;
    color: white;
    font-size: 16px;
    padding: 0;
    transition: 0.25s;
    opacity: 1;
}

.btn p:hover{
    cursor: pointer;
    opacity: 0.9;
    box-shadow: 0px 5px 5px 0px black;
}

footer{
    background: #353535;
    position: relative;
    top: 50px;
}

.footerlogo{
    margin-bottom: 20px;
}

footer h2{
    font-family: "Shrikhand";
    color: white;
    margin: 0px 0px 10px 20px;
}

.list{
    margin-left: 10px;
}

.list i{
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 15px;
}

footer a{
    color: white;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.list p{
    margin: 5px 0px 5px 0px;
    font-size: 16px;  
}

a{
    text-decoration: none;
}

/* VERSION DESKTOP */

@media only screen and (min-width: 1024px)
{

    body{
        margin: auto;
        max-width: initial;
    }
     
    header i{
        left: 70px;
        font-size: 30px;
    }

    .headerlogo img{
        width: 300px;
    }

    .background{
        display: flex;
        justify-content: center;
    }

    .background img{
        width: 650px;
        height: 300px;
    }

    .container{
        margin-top: 30px;
        position: initial;
        border-radius: initial;
    }

    .titrerestaurant h1{
        justify-content: initial;
        align-items: initial;
        margin-left: 0;
        font-size: 40px;
    }

    .hearts{
        left: 0;
        bottom: 0;
    }

    .fa-heart{
        font-size: 25px;
    }

    .box{
        box-sizing: border-box;
        border-radius: 30px 30px 30px 30px;
        border: 2px solid #99E2D0;
    }

    .titre{
        margin: 30px;
        width: initial;
        border-bottom: none;
    }

    .titre h2{
        display: flex;
        justify-content: center;
        margin: 0;
        font-size: 35px;
        font-family: "Shrikhand";
        color: #99E2D0;
    }

    .choixentree, .choixplat, .choixdessert{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 20px 5px;
    }

    .one, .two, .three, .four{
        width: 100%;
    }

    .repas{
        width: 98%;
    }

    .repas span{
        transform: translate(0);
        transition: 0.5s;
        transform-origin: left;
    }

    .check{
        margin-bottom: -2px;
    }

    .fa-check-circle{
        color: white;
        font-size: 25px;
    }

    .btn p{
        margin: 40px;
    }
    .footerlogo h2{
        font-size: 40px;
    }

}

/* Responsive Tablette */

@media only screen and (min-width: 768px) and (max-width: 1024px)
{
    body{
        margin: 0;
        max-width: 1024px;
    }

    header a{
        margin: 10px;
    }

    header i{
        font-size: 30px;
        margin-left: 10px;
        margin-top: 15px;
    }

    .headerlogo img{
        width: 40%;
    }

    .background img{
        height: 250px;
        position: relative;
    }

    .container{
        bottom: 40px;
    }

    .titrerestaurant h1{
        font-size: 35px;
        margin: 25px;
    }

    .hearts{
        left: 5px;
        bottom: 2px;
    }

    .titre{
        border-bottom: initial;
        width: initial;
        display: flex;
        justify-content: center;
    }

    .titre h2{
        font-family: "Shrikhand";
        font-size: 25px;
        color: #99E2D0;
    }

    .box{
        box-sizing: border-box;
        border-radius: 30px 30px 30px 30px;
        border: 2px solid #99E2D0;
    }

    .choixentree, .choixplat, .choixdessert{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .one, .two, .three, .four{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .repas{
        width: 60%;
    }

    .footerlogo h2{
        font-size: 30px;
    }
}