*{
    font-family: "Roboto";
}

* h1{
    font-family: "Shrikhand";
}

body{
    margin: auto;
    max-width: 400px;
}

.loader{
    background-color: white;
    animation: loader 3s linear both;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
}

@keyframes loader {
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
    
}

.spinner{
    border-right: 10px solid black;
    border-top: 10px solid #9356DC;
    border-left: 10px solid #99E2D0;
    border-bottom: 10px solid #FF79DA;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    -webkit-animation: spin 3s linear both;
            animation: spin 3s linear both;
    position: absolute;
    top: 150px;
}

@-webkit-keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        opacity: 0;
    }
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        opacity: 0;
    }
}

header{
    padding: 5px;
}

header i{
    position: absolute;
    left: 25px;
    top: 25px;
    display: flex;
    font-size: 20px;
    color: black;
}

.headerlogo{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.background img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.container{
    box-sizing: border-box;
    border-radius: 40px 40px 0px 0px;
    background: #F2F2F2;
    position: relative;
    bottom: 50px;
}

.titrerestaurant{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.titrerestaurant h1{
    display: flex;
    margin-top: 20px;
    font-family: "Shrikhand";
    font-size: 28px;
}

.hearts{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 25px;
    position: relative;
    left: 2px;
    bottom: 2px;
}

.fa-heart{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 25px;
    font-size: 20px;
}

.far.fa-heart{
    color: black;
}

.fas.fa-heart{
    opacity: 0;
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.titre{
    margin: 10px 10px 30px 20px;
    border-bottom: 3px solid #99E2D0;
    width: 17%;
}

.titre h2{
    margin: 0;
    font-size: 18px;
}

.box{
    display: flex;
    flex-direction: column;
    margin: 30px 10px 30px 10px;
}

.choixentree{
    -webkit-animation: scale-y 0.5s 1s linear both;
            animation: scale-y 0.5s 1s linear both;
        transform-origin: top;
        overflow: hidden;
}

.choixplat{
    -webkit-animation: scale-y 0.5s 1.5s linear both;
            animation: scale-y 0.5s 1.5s linear both;
        transform-origin: top;
        overflow: hidden;
}

.choixdessert{
    -webkit-animation: scale-y 0.5s 2s linear both;
            animation: scale-y 0.5s 2s linear both;
        transform-origin: top;
        overflow: hidden;
}

@-webkit-keyframes scale-y {
    0%{
        transform: scaleY(0);
    }

    100%{
        transform: scaleY(1);
    }
}

@keyframes scale-y {
    0%{
        transform: scaleY(0);
    }

    100%{
        transform: scaleY(1);
    }
}

.repas{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-left: 5px;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 20px;
    height: 70px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.repas h3{
    margin: 5px 5px 10px 10px;
}

.repas p{
    margin: 5px 5px 10px 10px;
}

.repas span{
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.check{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 70px;
    background: #99E2D0;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 0px 20px 20px 0px;
    margin: -62px -60px 0px auto;
}

.fa-check-circle{
    color: white;
    font-size: 25px;
}

/*.titreplat{
    margin: 10px 10px 30px 20px;
    border-bottom: 3px solid #99E2D0;
    width: 17%;
}

.titreplat h2{
    margin: 0;
    font-size: 18px;
}

.boxplat{
    display: flex;
    flex-direction: column;
    margin: 30px 10px 30px 10px;
}

.choixplat{
    -webkit-animation: scale-y 0.5s 1.5s linear both;
            animation: scale-y 0.5s 1.5s linear both;
        transform-origin: top;
        overflow: hidden;
}

.plat{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 20px;
    height: 70px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.plat h3, p{
    margin: 5px 5px 10px 10px;
}

.plat span{
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.checkplat{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 70px;
    background: #99E2D0;
    border-radius: 0px 20px 20px 0px;
    margin: -62px -60px 0px auto;
}

.titredessert{
    margin: 10px 10px 30px 20px;
    border-bottom: 3px solid #99E2D0;
    width: 17%;
}

.titredessert h2{
    margin: 0;
    font-size: 18px;
}

.boxdessert{
    display: flex;
    flex-direction: column;
    margin: 30px 10px 30px 10px;
}

.choixdessert{
    -webkit-animation: scale-y 0.5s 2s linear both;
            animation: scale-y 0.5s 2s linear both;
        transform-origin: top;
        overflow: hidden;
}

.dessert{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 20px;
    height: 70px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.dessert h3, p{
    margin: 5px 5px 10px 10px;
}

.dessert span{
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.checkdessert{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 70px;
    background: #99E2D0;
    border-radius: 0px 20px 20px 0px;
    margin: -62px -60px 0px auto;
}*/

.btn{
    display: flex;
    justify-content: center;
}

button{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background: linear-gradient(#FF79DA, #9356DC);
    align-items: center;
    box-shadow: 0px 5px 5px 0px grey;
    border: none;
    color: white;
    font-size: 16px;
    padding: 0;
    transition: 0.25s;
    opacity: 0.8;
}

footer{
    background: #353535;
    position: relative;
    top: 50px;
}

.footerlogo{
    margin-bottom: 20px;
}

footer h2{
    font-family: "Shrikhand";
    color: white;
    margin: 0px 0px 10px 20px;
}

.list{
    margin-left: 10px;
}

.list i{
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 15px;
}

footer a{
    color: white;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

h5{
    margin: 5px 0px 5px 0px;
    font-size: 16px;  

}

a{
    text-decoration: none;
}

/* Responsive Desktop */

@media only screen and (min-width: 1024px)
{

    body{
        margin: auto;
        max-width: initial;
    }

    /*.loader{
        background-color: white;
        animation: loader 3s linear both;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 100%;
    }

    @keyframes loader {
        0%{
            opacity: 1;
        }

        100%{
            opacity: 0;
        }
        
    }

    .spinner{
        border-right: 10px solid black;
        border-top: 10px solid #9356DC;
        border-left: 10px solid #99E2D0;
        border-bottom: 10px solid #FF79DA;
        border-radius: 50%;
        width: 75px;
        height: 75px;
        -webkit-animation: spin 3s linear both;
                animation: spin 3s linear both;
    }

    @-webkit-keyframes spin {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
            opacity: 0;
        }
    }

    @keyframes spin {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
            opacity: 0;
        }
    }*/
     
    header i{
        left: 70px;
        font-size: 30px;
    }

    .headerlogo img{
        width: 300px;
    }

    .background{
        display: flex;
        justify-content: center;
    }

    .background img{
        width: 650px;
        height: 300px;
    }

    .container{
        margin-top: 30px;
        position: initial;
        border-radius: initial;
    }

    .titrerestaurant h1{
        justify-content: initial;
        align-items: initial;
        margin-left: 0;
        font-size: 40px;
    }

    .hearts{
        left: 0;
        bottom: 0;
    }

    .fa-heart{
        font-size: 25px;
    }

    .fas.fa-heart:hover{
        opacity: 1;
        transition: 0.25s;
        font-size: 27px;
    }

    
/* Animation coeur */

    @-webkit-keyframes opacity{
        0%{
            opacity: 0;
        }

        100%{
            opacity: 1;
        }
    }

    @keyframes opacity{
        0%{
            opacity: 0;
        }

        100%{
            opacity: 1;
        }
    }

    .box{
        box-sizing: border-box;
        border-radius: 30px 30px 30px 30px;
        border: 2px solid #99E2D0;
    }

    .titre{
        margin: 30px;
        width: initial;
        border-bottom: none;
    }

    .titre h2{
        display: flex;
        justify-content: center;
        margin: 0;
        font-size: 35px;
        font-family: "Shrikhand";
        color: #99E2D0;
    }

    .choixentree{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 20px;
        -webkit-animation: scale-y 0.5s 1s linear both;
                animation: scale-y 0.5s 1s linear both;
        transform-origin: top;
        overflow: hidden;
    }

    .choixplat{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 20px;
        -webkit-animation: scale-y 0.5s 1.5s linear both;
                animation: scale-y 0.5s 1.5s linear both;
        transform-origin: top;
        overflow: hidden;
    }

    .choixdessert{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 20px;
        -webkit-animation: scale-y 0.5s 2s linear both;
                animation: scale-y 0.5s 2s linear both;
        transform-origin: top;
        overflow: hidden;
    }

/* Animation defilement */

    @-webkit-keyframes scale-y {
        0%{
            transform: scaleY(0);
        }

        100%{
            transform: scaleY(1);
        }
    }

    @keyframes scale-y {
        0%{
            transform: scaleY(0);
        }

        100%{
            transform: scaleY(1);
        }
    }

    .repas{
        width: 30%;
    }

    .repas:hover{
        cursor: pointer;
    }

    .repas h3{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .repas p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .repas span{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin: -45px 20px 20px 10px;
        position: initial;
        transform: translate(0);
        transition: 0.5s;
        transform-origin: left;
    }

    @-webkit-keyframes translate-x{
       0%{
           transform: translateX(0);
        }

       100%{
           transform: translateX(1%);
        }
    }

    @keyframes translate-x{
       0%{
           transform: translateX(0);
        }

       100%{
           transform: translateX(1%);
        }
    }

    .check{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 73px;
        background: #99E2D0;
        cursor: pointer;
        border-radius: 0px 20px 20px 0px;
        margin: -65px -60px -2px auto;
        transform-origin: left;
        transform: translate(0);
        transition: 0.5s;
    }

    .check:hover{
        cursor: pointer;
        -webkit-animation: translate-x 0.5s 0s linear both;
                animation: translate-x 0.5s 0s linear both;
    }

    .repas:hover .check{
        margin-right: 0px;
    }

    .repas:hover h3{
        width: 60%;
    }

    .repas:hover p{
        width: 70%;
    }

    .repas:hover span{
        margin-right: 70px;
        -webkit-animation: translate-x 0.5s 0s linear both;
                animation: translate-x 0.5s 0s linear both;
    }

/* Animation menu */

    @-webkit-keyframes translate-x{
        0%{
            transform: translateX(0);
        }
 
        100%{
            transform: translateX(1);
        }
    }

    .fa-check-circle{
        color: white;
        font-size: 25px;
    }

    /*.boxplat{
        box-sizing: border-box;
        border-radius: 30px 30px 30px 30px;
        border: 2px solid #99E2D0;
    }

    .titreplat{
        margin: 30px;
        width: initial;
        border-bottom: none;
    }

    .titreplat h2{
        display: flex;
        justify-content: center;
        margin: 0;
        font-size: 35px;
        font-family: "Shrikhand";
        color: #99E2D0;
    }

    .choixplat{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 20px;
        -webkit-animation: scale-y 0.5s 1.5s linear both;
                animation: scale-y 0.5s 1.5s linear both;
        transform-origin: top;
        overflow: hidden;
    }

    .plat{
        width: 30%;
        height: 82%;
        overflow: hidden;
    }

    .plat:hover{
        cursor: pointer;
    }

    .plat h3, p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .plat span{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin: -35px 20px 20px 10px;
        position: initial;
        transform: translate(0);
        transition: 0.5s;
        transform-origin: left;
    }

    .checkplat{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 70px;
        background: #99E2D0;
        cursor: pointer;
        border-radius: 0px 20px 20px 0px;
        margin: -81px -60px 0px auto;
        transform-origin: left;
        transform: translate(0);
        transition: 0.5s;
    }

    .checkplat:hover{
        cursor: pointer;
        -webkit-animation: translate-x 0.5s 0s linear both;
                animation: translate-x 0.5s 0s linear both;
    }

    .plat:hover h3, p{
        width: 60%;
    }

    .plat:hover span{
        margin-right: 70px;
        -webkit-animation: translate-x 0.5s 0s linear both;
                animation: translate-x 0.5s 0s linear both;
    }

    .plat:hover .checkplat{
        margin-right: 0px;
    }

    .boxdessert{
        box-sizing: border-box;
        border-radius: 30px 30px 30px 30px;
        border: 2px solid #99E2D0;
    }

    .titredessert{
        margin: 30px;
        width: initial;
        border-bottom: none;
    }

    .titredessert h2{
        display: flex;
        justify-content: center;
        margin: 0;
        font-size: 35px;
        font-family: "Shrikhand";
        color: #99E2D0;
    }

    .choixdessert{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 20px;
        -webkit-animation: scale-y 0.5s 2s linear both;
                animation: scale-y 0.5s 2s linear both;
        transform-origin: top;
        overflow: hidden;
    }

    .dessert{
        width: 30%;
        height: 82%;
        overflow: hidden;
    }

    .dessert:hover{
        cursor: pointer;
    }

    .dessert h3, p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .dessert span{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin: -35px 20px 20px 10px;
        position: initial;
        transform: translate(0);
        transition: 0.5s;
        transform-origin: left;
    }

    .checkdessert{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 70px;
        background: #99E2D0;
        cursor: pointer;
        border-radius: 0px 20px 20px 0px;
        margin: -81px -60px 0px auto;
        transform-origin: left;
        transform: translate(0);
        transition: 0.5s;
    }

    .checkdessert.dessert{
        cursor: pointer;
        -webkit-animation: translate-x 0.5s 0s linear both;
                animation: translate-x 0.5s 0s linear both;
    }

    .dessert:hover h3, p{
        width: 60%;
    }

    .dessert:hover span{
        margin-right: 70px;
        -webkit-animation: translate-x 0.5s 0s linear both;
                animation: translate-x 0.5s 0s linear both;
    }

    .dessert:hover .checkdessert{
        margin-right: 0px;
    }*/

    .btn button{
        margin: 40px;
    }

    button:hover{
        cursor: pointer;
        opacity: 1;
    }

    .footerlogo h2{
        font-size: 40px;
    }

}

/* Responsive Tablette */

@media only screen and (min-width: 768px) and (max-width: 1024px)
{
    body{
        margin: 0;
        max-width: 1024px;
    }

    header a{
        margin: 10px;
    }

    header i{
        font-size: 30px;
        margin-left: 10px;
        margin-top: 15px;
    }

    .headerlogo img{
        width: 40%;
    }

    .container{
        bottom: 40px;
    }

    .titrerestaurant h1{
        font-size: 35px;
        margin: 25px;
    }

    .hearts{
        left: 5px;
        bottom: 2px;
    }

    .titre{
        border-bottom: initial;
        width: initial;
    }

    .titre h2{
        font-family: "Shrikhand";
        font-size: 25px;
        color: #99E2D0;
    }

    .choixentree{
        display: flex;
        flex-direction: column;
        align-items: center;
        -webkit-animation: scale-y 0.5s 1s linear both;
                animation: scale-y 0.5s 1s linear both;
            transform-origin: top;
            overflow: hidden;
    }

    .choixplat{
        display: flex;
        flex-direction: column;
        align-items: center;
        -webkit-animation: scale-y 0.5s 1.5s linear both;
                animation: scale-y 0.5s 1.5s linear both;
            transform-origin: top;
            overflow: hidden;
    }

    .choixdessert{
        display: flex;
        flex-direction: column;
        align-items: center;
        -webkit-animation: scale-y 0.5s 2s linear both;
                animation: scale-y 0.5s 2s linear both;
            transform-origin: top;
            overflow: hidden;
    }
    
    @-webkit-keyframes scale-y {
        0%{
            transform: scaleY(0);
        }
    
        100%{
            transform: scaleY(1);
        }
    }
    
    @keyframes scale-y {
        0%{
            transform: scaleY(0);
        }
    
        100%{
            transform: scaleY(1);
        }
    }

    .repas{
        width: 70%;
    }

    /*.plat{
        width: 70%;
    }

    .titredessert{
        border-bottom: initial;
        width: initial;
    }

    .titredessert h2{
        font-family: "Shrikhand";
        font-size: 25px;
        color: #99E2D0;
    }

    .dessert{
        width: 70%;
    }*/

    .footerlogo h2{
        font-size: 30px;
    }
}