*{
    font-family: "Roboto";
}

body{
    margin: 0;
}

.loader{
    background-color: white;
    -webkit-animation: loader 3s linear both;
            animation: loader 3s linear both;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
}

@-webkit-keyframes loader {
    0%{
        opacity: 1;
        z-index: 1;
    }

    100%{
        opacity: 0;
        z-index: -1;
    }
    
}

@keyframes loader {
    0%{
        opacity: 1;
        z-index: 1;
    }

    100%{
        opacity: 0;
        z-index: -1;
    }
    
}

.spinner{
    border-right: 10px solid black;
    border-top: 10px solid #9356DC;
    border-left: 10px solid #99E2D0;
    border-bottom: 10px solid #FF79DA;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    -webkit-animation: spin 3s linear both;
            animation: spin 3s linear both;
    position: fixed;
    top: 100px;
}

@-webkit-keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        opacity: 0;
    }
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        opacity: 0;
    }
}

.headerlogo{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.search{
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;
    font-size: 18px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
}

form{
    height: 40px;
}

.search i{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 60px;
    font-size: 20px;
}

input{
    border: none;
    background: #F2F2F2;
    display: flex;
    padding: 5px 10px;
    margin: -25px -60px -10px 80px;
    font-size: 20px;
    width: 70%;
    font-weight: bold;
}

.title{
    text-align: center;
    margin: 25px;
}

h1{
    font-size: 30px;
}

.btn p{
    display: flex;
    justify-content: center;
    width: 220px;
    height: 50px;
    border-radius: 30px;
    background: linear-gradient(#FF79DA, #9356DC);
    align-items: center;
    margin-left: 85px;
    box-shadow: 0px 5px 5px 0px grey;
    border: none;
    color: white;
    font-size: 16px;
    padding: 0;
    transition: 0.25s;
    opacity: 1;
}

.btn p:hover{
    opacity: 0.9;
    cursor: pointer;
    box-shadow: 0px 5px 5px 0px black;
}

.une{
    margin-bottom: 60px;
}

.fonctionnement{
    display: flex;
    margin: 30px 0px 20px 10px;
}

.fonctionnement h2{
    display: flex;
    margin-left: 20px;
}

.choice{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 80px;
    border-radius: 20px;
    background: #F7F7F7;
    margin-bottom: 25px;
    margin-left: 30px;
    box-shadow: 0px 5px 5px 0px grey;
}

.choice .fas:hover{
    color: #9356DC;
    cursor: pointer;
}

.choice:hover{
    background-color: #F4E8F9;
}

.choice i{
    position: relative;
    margin-right: 30px;
    width: 16px;
    height: 16px;
}

span{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background: #9356DC;
    color: white;
    margin-left: -45px;
    margin-right: 30px;
}

.choice h4{
    margin-right: 20px;
    width: 178px;
    color: black;
}

.fa-list-ul, .fa-mobile-alt, .fa-store{
    color: grey;
}

.deux{
    background: #F7F7F7;
    display: flex;
    flex-direction: column;
}

.restaurant h2{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

article{
    width: 300px;
    height: 220px;
    color: black;
    -o-object-fit: cover;
       object-fit: cover;
    background: white;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #F2F2F2;
    margin-bottom: 15px;
    margin-top: 10px;
}

article img{
    width: 300px;
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

article h3{
    margin: 5px 0px 0px 10px;
}

.hearts{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 25px;
    position: relative;
    left: 250px;
    bottom: 20px;
}

.fa-heart{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 25px;
}

.far.fa-heart{
    color: black;
}

.fas.fa-heart{
    opacity: 0;
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fas.fa-heart:hover{
    opacity: 1;
    transition: 0.25s;
    font-size: 22px;
}

@-webkit-keyframes opacity {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes opacity {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

article p{
    margin: -20px 0px 0px 10px;
}

.new{
    background: #99E2D0;
    width: 25%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 200px;
    bottom: 210px;
}

article h4{
    color: green;
}

footer{
    background: #353535;
}

footer h2{
    font-family: "Shrikhand";
    color: white;
    margin: 0px 0px 10px 20px;
}

footer a{
    color: white;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.list{
    margin-left: 10px;
}

.list i{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

a{
    text-decoration: none;
}

.list p{
    margin: 5px 0px 5px 0px;
    font-size: 16px;  
}


/*VERSION DESKTOP*/

@media only screen and (min-width: 1024px)
{
    body{
        margin: 0;
    }

    header{
        margin: 10px;
    }

    .headerlogo{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .headerlogo img{
        width: 400px;
    }

    form{
        height: 60px;
    }

    .search i{
        font-size: 30px;
        margin-left: 40px;
        margin-top: 15px;
    }

    input{
        font-size: 30px;
        padding: 0;
        margin-top: -33px;
    }

    .title h1{
        font-family: "Shrikhand";
        font-size: 40px;
    }

    .title p{
        font-size: 25px;
        margin: 0;
    }

    .btn{
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .btn p{
        margin: 0;
    }

    .une{
        display: flex;
        flex-direction: column;
    }

    .fonctionnement{
        margin-left: 30px;
    }

    .fonctionnement h2{
        font-size: 30px;
        font-family: "Shrikhand";
        color: #9356DC;
        margin-right: 20px;
    }

    .menuchoice{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 10px;
    }

    .choice i{
        color: grey;
    }

    .restaurant{
        margin-left: 30px;
        margin-right: 30px;
    }

    .restaurant h2{
        font-size: 30px;
        font-family: "Shrikhand";
        color: #9356DC;
    }

    .deux{
        background: none;
        display: flex;
        flex-direction: column;
    }

    .card{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 30px;
        background: #F2F2F2;
        border: 2px solid #9356DC;
    }

    .card a{
        margin: 20px;
    }

    article{
        width: 350px;
        height: 210px;
        margin-left: 30px;
        margin-right: 30px;
        padding: 5px;
    }

    article img{
        width: 350px;
    }

    .hearts{
        left: 300px;
    }

    .fa-heart{
        font-size: 20px;
    }

    .new{
        left: 230px;
    }

    .footerlogo{
        margin-top: 40px;
    }

    .footerlogo h2{
        color: #9356DC;
        font-size: 40px;
        margin-right: 20px;
    }
}

/* VERSION TABLETTE */

@media only screen and (min-width: 768px) and (max-width: 1024px)
{

    .headerlogo img{
        width: 40%;
    }

    .search i{
        font-size: 25px;
        margin-left: 50px;
        margin-top: 5px;
    }

    input{
        padding: 0;
        font-size: 22px;
    }

    .title h1{
        font-family: "Shrikhand";
        font-size: 35px;
    }

    .title p{
        font-size: 20px;
    }

    .btn{
        display: flex;
        justify-content: center;
        margin-right: 60px;
    }

    .fonctionnement h2{
        font-family: "Shrikhand";
        font-size: 30px;
        color: #9356DC;
    }

    .menuchoice{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .choice{
        width: 400px;
    }

    .choice span{
        margin-left: -80px;
        margin-right: 80px;
    }

    .choice i{
        color: grey;
    }

    .restaurant h2{
        font-family: "Shrikhand";
        font-size: 30px;
        color: #9356DC;
    }

    .card{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    .footerlogo{
        margin-top: 20px;
    }

    .footerlogo h2{
        font-size: 30px
    }

}

